<ion-view title="title" right-buttons="eventButton" ng-init="init()">
    <ion-content has-header="true" has-tabs="true" has-bouncing="true">
		<div class="list">
		   <label class="item item-input">
			    <span class="input-label">名稱: </span>
			    <input type="text" ng-model="event.name" ng-disabled="state == 'VIEW'">
			</label>
			<label class="item item-input">
			    <span class="input-label">詳細: </span>
			    <input type="text" ng-model="event.detail" ng-disabled="state == 'VIEW'">
			</label>
			<label class="item item-input">
			    <span class="input-label">目的地: </span>
			    <input type="text" ng-model="event.destination" ng-disabled="state == 'VIEW'">
			</label>
			<label class="item item-input">
			    <span class="input-label">日期: </span>
			    <input type="date" ng-model="event.date" ng-disabled="state == 'VIEW'">
			</label>
			<label class="item item-input">
			    <span class="input-label">時間: </span>
			    <input type="time" ng-model="event.time" ng-disabled="state == 'VIEW'">
			</label>
			<label class="item item-input">
			    <span class="input-label">集合點: {{gatheringPointString}}</span>
			</label>
			<button ng-click="clickGatheringPointButton()"class="button button-positive">{{gatheringPointButonText}}</button>
        </div>
	    
    </ion-content>
</ion-view>