<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive">
    <ion-tab title="朋友" icon="icon ion-ios7-people" href="#/tab/friends">
        <ion-nav-view name="tab-friends"></ion-nav-view>
    </ion-tab>
    <ion-tab title="活動" icon="icon ion-ios7-calendar-outline" href="#/tab/eventList">
        <ion-nav-view name="tab-eventList"></ion-nav-view>
    </ion-tab>
    <ion-tab title="對話" icon="icon ion-chatboxes" href="#/tab/members">
        <ion-nav-view name="tab-members"></ion-nav-view>
    </ion-tab>
    <ion-tab title="消息" icon="icon ion-chatboxes" href="#/tab/news">
        <ion-nav-view name="tab-news"></ion-nav-view>
    </ion-tab>
    <ion-tab title="設定" icon="icon ion-gear-a" href="#/tab/setting">
        <ion-nav-view name="tab-setting"></ion-nav-view>
    </ion-tab>
</ion-tabs>