<ion-view title="'朋友資訊'" ng-init="init()" right-buttons="editButton">
	<ion-content has-header="true" padding="true">
			<div class="list card">
				<div class="list">
					<label class="item item-input">
					    <span class="input-label">姓名: </span>
					    <input type="text" ng-model="user.name">
					</label>
					<label class="item item-input">
					    <span class="input-label">電話: </span>
					    <input type="tel" ng-model="user.phone">
					</label>
					<label class="item item-input">
					    <span class="input-label">郵件: </span>
					    <input type="text" ng-model="user.email">
					</label>
					<label class="item item-input">
					    <span class="input-label">生日: </span>
					    <input type="date" ng-model="user.birthday">
					</label>
					<label class="item item-input">
					    <span class="input-label">識別碼: </span>
					    <input type="text" ng-disabled="true" ng-model="user.token">
					</label>
				</div>
			</div>
			<a class="button button-positive" ng-show="state==ANONYMOUS" ng-click="onRegisterClick()">註冊</a>
			
			<a class="button button-positive" ng-show="state==MEMBER" ng-click="onActionClick(DELETE)">刪除</a>
			
			<a class="button button-positive" ng-show="state == DELETE" ng-click="onDeleteClick()">確定</a>
			<a class="button button-positive" ng-show="state == DELETE" ng-click="onCancelClick()">取消</a>
	</ion-content>
</ion-view>